<html>
    <head>
        <title>
            <%= locals.title%>
        </title>
        <link rel="stylesheet" href="/css/home.css">
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>
    <body>
        <h1>CONTACTS</h1>

        <div > 
            
            <ul class="display">
                   
                <% for (let i of contact_list) { %> 
                   <div > 
                        <li class="contact">
                            <p><%= i.name %></p>
                            <p><%= i.phone %></p>
                        
                    
                    <div class="delete-button" >
                        <a href="/delete-contact/?id=<%= i.id %>" class="fa fa-trash" aria-hidden="true">
                           
                        </a>
                    </div>
                </li>
            </div>
                <% } %>
            </ul>
        </div>

        <form class="form" action="/create-contact" method="POST">
            <input class="textarea" type="text" name="name" placeholder="Enter name" required>
            <input class="textarea" type="number" name="phone" placeholder="Enter phone" required>
            <button id="button" type="submit">Add contact</button>
        </form>
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>